<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1">

<!--
  Looking on the Web a numerous number of pubications about recomendations of
  how much meta data must your service harbor can be found, but this guide of
  Kate Morris on the page Moz.com is very detailed and very useful. So i am
  going to let the Appa reference here:

  Kate Morris. (2017, April  13). The Wonderful World of SEO Meta Tags
  [Refreshed for 2017]) [Blog post]. Retrieved from
  https://moz.com/blog/seo-meta-tags
-->
